adelacommon @ https://github.com/ybenitezf/adela-common/releases/download/v0.0.3/adelacommon-0.0.3-py3-none-any.whl
alabaster==0.7.12
alembic==1.5.8
altair==4.1.0
altair-data-server==0.4.1
altair-viewer==0.3.0
amqp==5.0.5
aniso8601==8.0.0
apifairy==0.6.2
apispec==4.3.0
appdirs==1.4.4
appimage-builder==0.8.7
argcomplete==1.12.1
arrow==0.15.7
astroid==2.4.2
attrs==21.2.0
autopep8==1.5.4
awscli-local==0.8
Babel==2.8.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
binaryornot==0.4.4
blinker==1.4
boto3==1.17.79
botocore==1.20.79
Brlapi==0.7.0
celery==5.0.5
certifi==2020.4.5.1
cffi==1.14.0
cfn-flip==1.2.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
colorlog==4.2.1
colour==0.1.5
command-not-found==0.3
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography==3.0
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
dill==0.3.3
distlib==0.3.1
distro==1.5.0
distro-info===0.23ubuntu1
dnslib==0.9.14
dnspython==1.16.0
docker==4.4.4
docopt==0.6.2
docutils==0.15.2
durationpy==0.5
easygui==0.97.4
email-validator==1.1.2
emrichen==0.2.3
filelock==3.0.12
flake8==3.7.9
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Diced==0.3
Flask-HTTPAuth==4.2.0
flask-ldap3-login==0.9.16
Flask-Login==0.5.0
flask-marshmallow==0.13.0
Flask-Menu==0.7.2
Flask-Migrate==2.7.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-Static-Digest==0.2.1
Flask-WTF==0.14.3
fsspec==2021.5.0
future==0.18.2
google-pasta==0.2.0
gphoto2==2.2.2
hidpidaemon==18.4.6
hjson==3.0.2
httpie==2.2.0
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.6.0
IPTCInfo3==2.1.4
isort==4.3.21
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.16.0
jsonpath-rw==1.4.0
kappa==0.6.0
keyring==21.3.0
kombu==5.0.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.4.3
ldap3==2.9
lensfun==0.3.2
livereload==2.6.3
localstack==0.11.4
localstack-client==1.2
localstack-ext==0.11.40
louis==3.14.0
macaroonbakery==1.3.1
Mako==1.1.4
MarkupSafe==1.1.1
marshmallow==3.7.1
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
more-itertools==4.2.0
multiprocess==0.70.11.1
netifaces==0.10.4
newswriter @ https://github.com/ybenitezf/newswriter/releases/download/v0.0.9/newswriter-0.0.9-py2.py3-none-any.whl
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandas==1.1.0
pathos==0.2.7
pbr==5.5.1
Pillow==7.2.0
pip-tools==5.3.1
placebo==0.9.0
pluggy==0.13.0
ply==3.11
pop-transition==1.1.2
portpicker==1.3.1
pox==0.2.9
poyo==0.5.0
ppft==1.6.6.3
progressbar2==3.53.1
prompt-toolkit==3.0.18
protobuf==3.12.3
protobuf3-to-dict==0.1.5
psutil==5.7.2
psycopg2-binary==2.8.5
py==1.9.0
pyaes==1.6.1
pyaml==20.4.0
pyasn1==0.4.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pydbus==0.6.0
pyflakes==2.1.1
Pygments==2.3.1
PyGObject==3.38.0
pyheif==0.5.1
PyJWT==1.7.1
pylint==2.5.3
pymacaroons==0.13.0
pymediainfo==4.1
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.15.0
PyQt5-sip==12.8.1
pyRFC3339==1.1
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
python-dotenv==0.16.0
python-editor==1.0.4
python-slugify==4.0.1
python-utils==2.5.6
python-xlib==0.27
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
questionary==1.9.0
rapid-photo-downloader @ file:///tmp/tmpm5smnwr8/rapid-photo-downloader-0.9.24.tar.gz
rawkit==0.6.0
redis==3.5.3
repolib==1.5.2
repoman==1.4.0
requests==2.24.0
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.0
rstcheck==3.3.1
s3transfer==0.4.2
sagemaker==2.42.0
schema==0.7.4
scikit-learn==0.23.2
scipy==1.5.2
SecretStorage==3.1.2
sessioninstaller==0.0.0
simplejson==3.17.0
six==1.15.0
sklearn==0.0
smdebug-rulesconfig==1.0.1
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.2.1
Sphinx==3.3.0
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
ssh-import-id==5.10
stevedore==3.2.2
systemd-python==234
tenacity==6.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tox==3.15.1
tqdm==4.52.0
troposphere==2.6.3
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.9
vboxapi==1.0
vega-datasets==0.8.0
vine==5.0.0
virtualenv==20.0.29+ds
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wadllib==1.3.4
wcwidth==0.2.5
webargs==7.0.1
webpreview==1.6.0
websocket-client==0.58.0
Werkzeug==0.16.1
Whoosh==2.7.4
wrapt==1.12.1
wsgi-request-logger==0.4.6
WTForms==2.3.3
xkit==0.0.0
zipp==1.0.0
